<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title HUMAAN
body
	header.header
		a(href="").humaan-logo humaan
		nav.header-nav
			ul.header-nav__list
				li.header-nav__list__item Wor
				li.header-nav__list__item Expertise
				li.header-nav__list__item About
				li.header-nav__list__item Blog
				li.header-nav__list__item Contact